body { width: 900px; font-size: 8px; font-family: Arial,sans; }
body * { font-size: 10px; font-weight: bold;}
.hit_border { border-bottom: 3px solid black;}
.hit .stats { font-weight: strong; }
.hit { padding-bottom: 1em;}
.hsp_border { border-bottom: 4px solid; }

.hsp_stat { font-weight: normal; display: none;}

.hsp_border.great { border-color: red; }
.hsp_border.good { border-color: fuchsia; }
.hsp_border.okay { border-color: lime; }
.hsp_border.fair { border-color: blue; }
.hsp_border.poor { border-color: black; }

.sequences > div > div {
	float: left;
}

figure { margin: 0; }

#colorkey {
	text-align: center;
	width: 500px;
	margin-left: 50px;
	float: left;
}
#colorkey figcaption {
	font-size: 20px;
}

#colorkey .great { background-color: red; }
#colorkey .good { background-color: fuchsia; }
#colorkey .okay { background-color: lime; }
#colorkey .fair { background-color: blue; }
#colorkey .poor { background-color: black; }
#colorkey div { float: left; color: white; font-size: 15px; width: 100px; font-weight: normal;}

#taxonkey {
	float: left;
}

#taxonkey div {
	width: 150px;
	font-size: 15px;
	font-weight: bold;
	color: black;
	padding: 5px;
}
.plantae {
	background: green;
	background: rgba(0, 128, 0, 0.2);
}
.chromalveolate {
	background: orange;
	background: rgba(255, 165, 0, 0.2);
}
.excavate {
	background: yellow;
	background: rgba(255, 255, 0, 0.2);
}
.amoebozoa {
	background: purple;
	background: rgba(128, 0, 128, 0.2);
}
.rhizaria {
	background: blue;
	background: rgba(0, 0, 255, 0.2);
}
.opisthokonta {
	background: orchid;
	background: rgba(218, 112, 214, 0.2);
}

table { width: 100%; }
table, table * { padding: 0; margin: 0; border-spacing: 0; border-collapse: collapse;}
thead th {
	text-align: left;
}
tbody tr {
	margin-bottom: 1em;
}
.sequence, .nt {
	padding: 2px;
}

.sequence {
	border-left: 1px solid black;
}
.organism { background: #e5f2e5; border: 1px solid black; width: 200px; padding-left: 5px; margin-bottom: 1em; border-radius: 5px; -webkit-border-radius: 5px;}
.hits { background: #b7c4e5; width: 700px; border: 1px solid black; padding-top: 2px; padding-bottom: 8px; margin-bottom: 1em;}
.nt {
	background: red;
	border: 1px solid black;
	color: white;
	font-size: 14px;
	height: 1.5em;
	padding: 0;
	width: 100%;
}
.nt > div {
	font-size: 14px;
	font-weight: bold;
	border-left: 1px solid black;
	margin-left: -1px;
}

.divider {
	float: left;
	width: 100%;
	position: relative;
	border-left: 1px dashed #aaa;
	margin-left: -1px;
}
.hit_container {
	width: 100%;
	position: relative;
}

#overlays {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	
	font-size: 16px;
}

#overlays > div {
	height: 500px;
	display: none;
	background: white;
	margin: 20px;
	padding: 10px;
}

td.hits {
	overflow: hidden;
}

#overlays .actions {
	text-align: right;
}
