body { width: 900px; font-size: 8px; font-family: Arial,sans; }
body { font-size: 10px; font-weight: bold;}
.hit .stats { font-weight: strong; }
.hit { padding-bottom: 1em;}
.hsp_border {
	border-bottom: 5px solid;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.hsp_stat { font-weight: normal; display: none;}

.hsp_border.great { border-color: red; }
.hsp_border.good { border-color: fuchsia; }
.hsp_border.okay { border-color: lime; }
.hsp_border.fair { border-color: blue; }
.hsp_border.poor { border-color: black; }

figure { margin: 0; }

#colorkey {
	text-align: center;
	width: 500px;
	margin-left: 50px;
	float: left;
}
#colorkey figcaption {
	font-size: 20px;
}

#colorkey .great { background-color: red; }
#colorkey .good { background-color: fuchsia; }
#colorkey .okay { background-color: lime; }
#colorkey .fair { background-color: blue; }
#colorkey .poor { background-color: black; }
#colorkey div { float: left; color: white; font-size: 15px; width: 100px; font-weight: normal;}

#taxonkey {
	float: left;
}

#taxonkey div {
	width: 150px;
	font-size: 15px;
	font-weight: bold;
	color: black;
	padding: 5px;
}
.plantae {
	background: green;
	background: rgba(0, 128, 0, 0.2);
}
.chromalveolate {
	background: orange;
	background: rgba(255, 165, 0, 0.2);
}
.excavate {
	background: yellow;
	background: rgba(255, 255, 0, 0.2);
}
.amoebozoa {
	background: purple;
	background: rgba(128, 0, 128, 0.2);
}
.rhizaria {
	background: blue;
	background: rgba(0, 0, 255, 0.2);
}
.opisthokonta {
	background: orchid;
	background: rgba(218, 112, 214, 0.2);
}

table { width: 100%; }
table, table * { padding: 0; margin: 0; border-spacing: 0; border-collapse: collapse;}
thead th {
	text-align: left;
}
tbody tr {
	margin-bottom: 1em;
}
.sequence {
	padding: 2px;
}
.organism {
	border: 1px solid black;
	width: 200px;
	margin-bottom: 1em;
}
.hits { background: #b7c4e5; width: 700px; border: 1px solid black; padding-top: 2px; padding-bottom: 8px; margin-bottom: 1em;}
.nt {
	color: white;
	font-size: 14px;
	height: 1.5em;
	padding: 0;
	width: 100%;
}
.nt > div {
	font-size: 14px;
	font-weight: bold;
}

.divider {
	float: left;
	width: 100%;
	position: relative;
	border-left: 1px dashed black;
	margin-left: -1px;
}
.alignmentContainer {
	width: 100%;
	position: relative;
}

#overlays {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: none;
	background: white;
	
	font-size: 16px;
}

#overlays > div {
	display: none;
	padding: 10px;
	font-size: 10px;
}

td.hits {
	overflow: hidden;
}

#overlays .actions {
	text-align: right;
}

/* */

.organism, .alignment {
	width: 900px;
}

.sequences, .organism > .divider {
	width: 700px;
	margin-left: 200px;
}

.organismName, .alignmentName {
	width: 200px;
	float: left;
}

.alignment {
	margin-left: -200px;
}

.organism {
	overflow: hidden;
}

.alignment {
	padding: 5px 0;
}

.alignment.even {
  background-color: #eee;
	background-color: rgba(238, 238, 238, 0.5);
}
.alignment.odd {
  background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

a:active .alignment,
a:hover .alignment {
	background-color: #ccc;
	background-color: rgba(204, 204, 204, 0.5);
}

.alignmentGraphics {
	margin-left: 200px;
}

.organismName {
	font-weight: bold;
	color: #333;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(150,150,150,0.3)),
		color-stop(1, rgba(255,255,255, 0.2))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgba(150,150,150,0.3) 0%,
		rgba(255,255,255,0.2) 100%
	);
}

.sequences {
	background-color: #C83232;
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(200,50,50)),
	    color-stop(1, rgb(237,43,43))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(200,50,50) 0%,
	    rgb(237,43,43) 100%
	);
	
	border-left: 1px solid black;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.organism > header {
	border-bottom: 1px solid black;
}

.alignmentName strong {
	font-size: 12px;
}

a {
	color: blue;
}

a:active,
a:hover {
	color: #0096FF;
}

a:visited {
	color: #6464FF;
}

.sequence {
	color: white;
	font-size: 14px;
	padding: 0;
	width: 100%;
}
.sequence {
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.organisms {
	margin-top: 2em;
}