#proteinDomainsBackground {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
#outerContainer {
	width: 900px;
	margin: 0 auto;
}
#innerContainer {
	width: 500px;
	margin-left: 400px;
}
.pullout {
	margin-left: -400px;
}
.dataMeta {
	width: 400px;
}
.organismMeta {
	width: 350px;
	float: left;
}
.organismGraphic {
	margin-left: 350px;
}
.selectionColumn {
	margin-left: 350px;
	text-align: center;
}
.alignmentSelection {
	width: 50px;
	position: absolute;
	text-align: center;
}
.alignmentGraphic {
	margin-left: 50px;
}

body {
	font-family: Arial;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}
.organismAlignment:hover {
	background-color: #eee;
	background-color: rgba(220, 220, 220, 0.5);
}
.alignmentGraphic a {
	display: block;
}
.alignmentGraphic a:hover {
	background-color: #eee;
	background-color: rgba(220, 220, 220, 0.5);
}
#ruler {
	margin-bottom: 1em;
}
#rulerLegendStart {
	float: left;
}
#rulerLegendEnd {
	float: right;
}
#rulerGraphic {
	height: 1em;
	border: 1px solid #666;
	border-top: none;
}
#proteinDomainsHeader {
	height: 1em;
}
.organism {
	border-bottom: 1px solid #999;
}
.organismName {
	font-weight: bold;
}

#colorKey {
	margin-bottom: 1em;
}
#colorKey > div {
	width: 19%;
	float: left;
	font-weight: bold;
	color: white;
	text-align: center;
}
#colorKey .great { background-color: red; }
#colorKey .good { background-color: fuchsia; }
#colorKey .okay { background-color: lime; }
#colorKey .poor { background-color: blue; }
#colorKey .bad { background-color: black; }

.alignmentGraphic svg rect {
	stroke: none;
}
.alignmentGraphic svg rect.great { fill: red; }
.alignmentGraphic svg rect.good  { fill: fuchsia; }
.alignmentGraphic svg rect.okay  { fill: lime; }
.alignmentGraphic svg rect.poor  { fill: blue; }
.alignmentGraphic svg rect.bad   { fill: black; }
#proteinDomainsHeader svg rect {
	fill: rgb(40, 150, 40);
	stroke: none;
}
#proteinDomainsHeader svg a:hover rect {
	fill: rgb(40, 170, 40);
}
#proteinDomainsHeader svg path {
	fill: none;
	stroke: #666;
}
#proteinDomainsHeader svg text {
	fill: white;
	font-size: 10px;
	font-weight: bold;
}
#proteinDomainsBackground svg rect {
	fill: rgb(180, 224, 158);
	stroke: none;
}