<html>
<head>
	{% if not done %}
		<meta http-equiv="refresh" content="2">
	{% endif %}
	
	<title>Job Status {{ job }} - EukPhyloBlast</title>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, Verdana, sans-serif;
			width: 500px;
			margin: 0 auto;
			color: #333;
		}
		section > header h1 {
			font-size: 1.5em;
		}
		.done, .error {
			padding: 5px;
			color: white;
		}
		.done {
			background-color: #8C0;
		}
		.error {
			background-color: red;
		}
		.done strong, .error strong {
			display: block;
			margin: 0;
			font-weight: bold;
		}
		pre {
			overflow: scroll;
			background-color: white;
			padding: 5px;
			margin: 5px 0 0 0;
			color: #333;
		}
	</style>
</head>
<body>

	<header>
		<h1>EukPhyloBlast</h1>
	</header>
	
	<section>
		<header><h1>Status of job {{ job }}</h1></header>
	
		{% if done %}
			{% if error %}
				<div class="error"><strong>Error:</strong>{{ error }}</div>
			{% else %}
				<div class="done"><strong>Done! Results are at <a href="results.html">results.html</a></strong></div>
			{% endif %}
		{% else %}
			<p>Page will reload momentarily. If it doesn't, <a href="status.html">click here</a>.</p>
		{% endif %}
		
		<p>Running <strong>{{ steps | length }}</strong> out of <strong>{{ organisms | length }}</strong> organisms:</p>
	
		<ul>
			{% for step in steps %}
				<li>{{ step }}</li>
			{% endfor %}
		</ul>
	
	</section>

</body>
</html>
